<table class="table table-dark table-hover" table-bordered>
    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>
    <tbody>
        @if (Purchases?.Count() > 0)
        {
            @foreach (Purchase d in Purchases)
            {
        <tr>
            <td>@d.Name</td>
            <td>@d.Zip</td>
            <th>Project</th>
            <th>Quantity</th>

            <td>
                <button class="btn btn-sm btn-danger" @onclick="@(x=> PurchaseSelected.InvokeAsync(d.DonationId))">
                    @ButtonLabel
                </button>
            </td>
        </tr>
                @foreach (BasketLineItem bli in d.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@bli.Books.Title</td>
                        <td>@bli.Quantity</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string TableTitle { get; set; } = "Purchases";
    [Parameter]
    public IEnumerable<Purchase> Purchases { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Collected";

    [Parameter]
    public EventCallback<int> PurchaseSelected { get; set; }

}
