@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookstore</h1>
    <p></p>
</div>
@*@foreach (Project p in Model.Projects)
{
    <h3>@p.ProjectName</h3>
    <ul>
        <li>Title: @p.ProjectType</li>
        <li>Author: @p.ProjectRegionalProgram</li>
        <li>Publisher: @p.ProjectImpact Served</li>
        <li>ISBN: @p.ProjectPhase</li>
        <li>Classification/Category: @p.ProjectFunctionalityStatus</li>
        <li>Number Of Pages: @p.ProjectPhase</li>
        <li>Price: @p.ProjectPhase</li>
    </ul>

    <br />
}*@